cursor                          {{ .palette.base07 }}
cursor_text_color               {{ .palette.base05 }}

background                      {{ .palette.base00 }}
foreground                      {{ .palette.base05 }}
selection_background            {{ .palette.base05 }}
selection_foreground            {{ .palette.base00 }}

# base colors
# red, green, yellow, blue, magenta, cyan
color2                          {{ .palette.base0B }}
color3                          {{ .palette.base0A }}
color1                          {{ .palette.base08 }}
color4                          {{ .palette.base0D }}
color5                          {{ .palette.base0E }}
color6                          {{ .palette.base0C }}

# bright colors
# red, green, yellow, blue, magenta, cyan
color9                          {{ .palette.base12 }}
color10                         {{ .palette.base14 }}
color11                         {{ .palette.base13 }}
color12                         {{ .palette.base16 }}
color13                         {{ .palette.base17 }}
color14                         {{ .palette.base15 }}

active_tab_foreground           {{ .palette.base00 }}
active_tab_background           {{ .palette.base0D }}
inactive_tab_foreground         {{ .palette.base05 }}
inactive_tab_background         {{ .palette.base00 }}
