// chezmoi template file, changes made in symlink mode will NOT reflect on the source

layout {
    border {
        active-color "#00aeff"
        inactive-color "#333333"
        urgent-color "#ffae00"
    }
}
