// chezmoi template file, changes made in symlink mode will NOT reflect on the source

layout {
    border {
        active-color "#93cdf6"
        inactive-color "#313539"
        urgent-color "#ffb4ab"
    }
}
