layout {
    border {
        active-color "{{ .primary }}"
        inactive-color "{{ .colors.base03 }}"
        urgent-color "{{ .colors.base08 }}"
    }
}

overview {
    backdrop-color "{{ .colors.base00 }}"
}
