output "eDP-1" {
    backdrop-color "{{ .colors.base00 }}"
}
layout {
    border {
        active-color "{{ .colors.base0D }}"
        inactive-color "{{ .colors.base02 }}"
        urgent-color "{{ .colors.base08 }}"
    }
}
