layout {
    // background-color "{{.palette.base00}}"
    border {
        active-color "{{.accent}}"
        inactive-color "{{.palette.base03}}"
        urgent-color "{{.palette.base08}}"
    }
    insert-hint {
        color "{{.accent}}60"
    }
}

overview {
    backdrop-color "{{.palette.base00}}"
}
