binds {

    Mod+Shift+Slash hotkey-overlay-title="Show keybinds overlay" { show-hotkey-overlay; }
    Mod+Shift+M hotkey-overlay-title="Exit niri" { quit; }
    Ctrl+Alt+Delete hotkey-overlay-title=null { quit; }
    Mod+Z hotkey-overlay-title="Toggle the overview" repeat=false { toggle-overview; }
    Mod+Shift+C hotkey-overlay-title="Close focused window" repeat=false { close-window; }
    Mod+F hotkey-overlay-title="Maximize column" repeat=false { maximize-column; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen window" repeat=false { fullscreen-window; }
    Mod+C hotkey-overlay-title=null repeat=false { switch-preset-column-width; }
    Mod+V hotkey-overlay-title=null repeat=false { toggle-window-floating; }
    Mod+Shift+V hotkey-overlay-title=null repeat=false { switch-focus-between-floating-and-tiling; }
    Mod+Ctrl+S hotkey-overlay-title=null repeat=false { screenshot; }

    Mod+Q hotkey-overlay-title="Open a terminal: kitty" repeat=false { spawn "kitty"; }
    Mod+Space hotkey-overlay-title="Application launcher" repeat=false { spawn "rofi" "-show" "drun"; }
    Mod+E hotkey-overlay-title="Open file manager: nautilus" repeat=false { spawn "nautilus"; }
    Mod+L hotkey-overlay-title="Lock the screen" repeat=false { spawn "hyprlock"; }
    Mod+X hotkey-overlay-title="Color picker: hyprpicker" repeat=false { spawn-sh "hyprpicker | wl-copy"; }

    Mod+Comma hotkey-overlay-title=null repeat=false { consume-or-expel-window-left; }
    Mod+Period hotkey-overlay-title=null repeat=false { consume-or-expel-window-right; }

    Mod+BracketLeft hotkey-overlay-title=null repeat=false { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title=null repeat=false { consume-or-expel-window-right; }

    Mod+W hotkey-overlay-title=null repeat=false { focus-window-or-workspace-up; }
    Mod+S hotkey-overlay-title=null repeat=false { focus-window-or-workspace-down; }
    Mod+A hotkey-overlay-title=null repeat=false { focus-column-left; }
    Mod+D hotkey-overlay-title=null repeat=false { focus-column-right; }
    Mod+Shift+W hotkey-overlay-title=null repeat=false { move-column-to-workspace-up; }
    Mod+Shift+S hotkey-overlay-title=null repeat=false { move-column-to-workspace-down; }
    Mod+Shift+A hotkey-overlay-title=null repeat=false { move-column-left; }
    Mod+Shift+D hotkey-overlay-title=null repeat=false { move-column-right; }
    Mod+Ctrl+A hotkey-overlay-title=null cooldown-ms=100 { set-column-width "-10%"; }
    Mod+Ctrl+D hotkey-overlay-title=null cooldown-ms=100 { set-column-width "+10%"; }

    Mod+Up hotkey-overlay-title=null repeat=false { focus-workspace-up; }
    Mod+Down hotkey-overlay-title=null repeat=false { focus-workspace-down; }
    Mod+Left hotkey-overlay-title=null repeat=false { focus-column-left; }
    Mod+Right hotkey-overlay-title=null repeat=false { focus-column-right; }
    Mod+Shift+Up hotkey-overlay-title=null repeat=false { move-column-to-workspace-up; }
    Mod+Shift+Down hotkey-overlay-title=null repeat=false { move-column-to-workspace-down; }
    Mod+Shift+Left hotkey-overlay-title=null repeat=false { move-column-left; }
    Mod+Shift+Right hotkey-overlay-title=null repeat=false { move-column-right; }
    Mod+Ctrl+Up hotkey-overlay-title=null cooldown-ms=100 { set-window-height "-10%"; }
    Mod+Ctrl+Down hotkey-overlay-title=null cooldown-ms=100 { set-window-height "+10%"; }
    Mod+Ctrl+Left hotkey-overlay-title=null cooldown-ms=100 { set-column-width "-10%"; }
    Mod+Ctrl+Right hotkey-overlay-title=null cooldown-ms=100 { set-column-width "+10%"; }

    // numbers go brr
    Mod+1 hotkey-overlay-title=null repeat=false { focus-workspace 1; }
    Mod+2 hotkey-overlay-title=null repeat=false { focus-workspace 2; }
    Mod+3 hotkey-overlay-title=null repeat=false { focus-workspace 3; }
    Mod+4 hotkey-overlay-title=null repeat=false { focus-workspace 4; }
    Mod+5 hotkey-overlay-title=null repeat=false { focus-workspace 5; }
    Mod+6 hotkey-overlay-title=null repeat=false { focus-workspace 6; }
    Mod+7 hotkey-overlay-title=null repeat=false { focus-workspace 7; }
    Mod+8 hotkey-overlay-title=null repeat=false { focus-workspace 8; }
    Mod+9 hotkey-overlay-title=null repeat=false { focus-workspace 9; }
    Mod+0 hotkey-overlay-title=null repeat=false { focus-workspace 10; }
    Mod+Shift+1 hotkey-overlay-title=null repeat=false { move-column-to-workspace 1; }
    Mod+Shift+2 hotkey-overlay-title=null repeat=false { move-column-to-workspace 2; }
    Mod+Shift+3 hotkey-overlay-title=null repeat=false { move-column-to-workspace 3; }
    Mod+Shift+4 hotkey-overlay-title=null repeat=false { move-column-to-workspace 4; }
    Mod+Shift+5 hotkey-overlay-title=null repeat=false { move-column-to-workspace 5; }
    Mod+Shift+6 hotkey-overlay-title=null repeat=false { move-column-to-workspace 6; }
    Mod+Shift+7 hotkey-overlay-title=null repeat=false { move-column-to-workspace 7; }
    Mod+Shift+8 hotkey-overlay-title=null repeat=false { move-column-to-workspace 8; }
    Mod+Shift+9 hotkey-overlay-title=null repeat=false { move-column-to-workspace 9; }
    Mod+Shift+0 hotkey-overlay-title=null repeat=false { move-column-to-workspace 10; }

    // weird keys lmao
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

}
