spawn-at-startup "xwayland-satellite"
spawn-at-startup "systemctl" "--user" "start" "hyprpolkitagent.service"
spawn-at-startup "systemctl" "--user" "start" "hyprpaper.service"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

environment {
    GDK_BACKEND "wayland,x11,*"
    QT_QPA_PLATFORM "wayland;xcb"
    SDL_VIDEODRIVER "wayland"
    CLUTTER_BACKEND "wayland"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

    XDG_SESSION_TYPE "wayland"
    XDG_SESSION_DESKTOP "wayland"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}

overview {
    zoom 0.75
    workspace-shadow {
        off
    }
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
}

recent-windows {
    off
}
