# do NOT the config
# will be overriden by matugen on apply
# chezmoi template file, changes made in symlink mode will NOT reflect on the source

wallpaper {
    monitor =
    path = $HOME/.config/wallpapers/default.jpg
    fit_mode = cover
}
