-- chezmoi template file, changes made in symlink mode will NOT reflect on the source

return {
    background = "#000000",
    on_background = "#ffffff",
    primary = "#00aeff",
    on_primary = "#000000",
    secondary = "#ae00ff",
    on_secondary = "#ffffff",
    container = "#111111",
    on_container = "#ffffff",
}
